
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Đơn mua</li>
				<li class="active">Tất cả</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
</div>
	<!-- /section -->
	<!-- section -->
	<div class="section">

		{{#each orders}}
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<form id="checkout-form" class="clearfix">
					<div class="col-md-12">
						<div class="order-summary clearfix">
							
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Sản phẩm</th>
										<th></th>										
										<th class="text-center">Số Lượng</th>
										<th class="text-center"></th>
										<th class="text-center">Số Tiền</th>
									</tr>
								</thead>
								<tbody>
									{{#each this.cart.items}}
									<tr>
										<td class="thumb"><img src="https://admin1712482-1712509-1712528.herokuapp.com/{{item.imagePath}}" alt=""></td>
										<td class="details">
											<a href="product/{{item._id}}">{{item.productname}}</a>
										</td>
										<td class="qty text-center">{{qty}}</td>
										<td></td>
										<td class="total text-center"><strong class="primary-color">{{item.price}}</strong></td>
										

									</tr>
									{{/each}}
								</tbody>
								<tfoot>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>Trạng thái</th>
										{{#ifCond 0 status}}
										<th colspan="2" class="sub-total primary-color"><strong class="primary-color">Chờ lấy hàng</strong></th>
										{{else}}
										{{#ifCond 1 status}}
										<th colspan="2" class="sub-total primary-color"><strong class="primary-color">Đang giao</strong></th>
										{{else}}
										{{#ifCond 2 status}}
										<th colspan="2" class="sub-total primary-color"><strong class="primary-color">Đã giao</strong></th>
										{{else}}
										{{#ifCond 3 status}}
										<th colspan="2" class="sub-total primary-color"><strong class="primary-color">Đã hủy</strong></th>
										{{/ifCond}}
										{{/ifCond}}
										{{/ifCond}}
										{{/ifCond}}
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>Tổng tiền</th>
										<th colspan="2" class="sub-total primary-color"><strong class="primary-color">{{this.cart.totalPrice}}</strong></th>
									</tr>	
								</tfoot>
							</table>	
						</div>

					</div>
				</form>
			</div>
		
			<!-- /row -->
		</div>
		<!-- /container -->
			{{/each}}
	</div>

